/*********** Raleway Regular ***********/
@font-face {
  font-family: "raleway-regular";
  src: local("raleway-regular");
  src: url("../fonts/Raleway/raleway-regular.eot") format("eot");
  src: url("../fonts/Raleway/raleway-regular.ttf") format("ttf");
  src: url("../fonts/Raleway/raleway-regular.woff2") format("woff2"); }

/*********** GothamPro Regular ***********/
@font-face {
  font-family: "gotham-pro-regular";
  src: local("GothamPro-regular");
  src: url("../fonts/GothamPro/GothamProRegular.eot") format("eot");
  src: url("../fonts/GothamPro/GothamProRegular.ttf") format("ttf");
  src: url("../fonts/GothamPro/GothamProRegular.woff2") format("woff2"); }

html {
  margin-top: 0 !important; }

body {
  font-family: raleway-regular; }

h1, h2, h3, h4, h5, h6, p {
  margin: 0; }

p {
  line-height: 133.5%; }

.opacity-0 {
  opacity: 0; }

.pb-120 {
  padding-bottom: 120px; }

.pb-70 {
  padding-bottom: 70px; }

.trf-none {
  transform: none !important; }

.c-title {
  font-family: gotham-pro-regular;
  text-transform: uppercase;
  font-size: 50px;
  text-align: center;
  font-weight: 300; }

.min-title {
  font-family: gotham-pro-regular;
  text-transform: uppercase;
  font-size: 35px;
  font-weight: 300;
  position: relative;
  padding-bottom: 35px; }
  .min-title::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    width: 50px;
    height: 1px;
    background-color: #242424; }

.social-links {
  display: flex;
  transition: 1s ease; }
  .social-links a {
    background-color: #BAA7AF;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    transition: 0.3s ease-in; }
    .social-links a:hover {
      background-color: #E8937C;
      box-shadow: 0px 2px 27px rgba(232, 147, 124, 0.73); }
    .social-links a svg {
      height: 18px; }

#lcl_thumbs_nav .lcl_tn_inner {
  padding-left: 0; }

.preloader {
  background-color: #fff;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 99;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center; }
  .preloader h2 {
    font-family: gotham-pro-regular;
    font-size: 30px;
    line-height: 126.5%;
    text-decoration: none;
    color: #242424;
    text-transform: uppercase;
    font-weight: 300;
    margin-right: 15px;
    position: relative;
    padding-bottom: 35px;
    margin-bottom: 35px; }
    .preloader h2::after {
      content: '';
      display: block;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      height: 1px;
      width: 50px;
      background-color: #242424; }
  .preloader p {
    font-size: 16px;
    letter-spacing: 1px; }

/*---------- Main START ----------*/
.content {
  padding-left: 70px;
  padding-right: 70px;
  height: 100%;
  display: flex;
  max-width: 1900px;
  margin: 0 auto; }

.content__left {
  height: 100%;
  position: relative; }
  .content__left .logo {
    padding-top: 50px;
    position: relative;
    z-index: 13; }
    .content__left .logo a {
      font-family: gotham-pro-regular;
      font-size: 30px;
      line-height: 126.5%;
      text-decoration: none;
      text-transform: uppercase;
      color: #242424;
      letter-spacing: 6px; }
      .content__left .logo a .lts {
        letter-spacing: 4px; }
  .content__left .menu-opened__wrap {
    display: none;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 70px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 12; }
  .content__left .menu-opened {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%; }
    .content__left .menu-opened .menu-list__wrap {
      position: relative;
      margin-top: 85px;
      margin-bottom: 50px;
      max-width: 300px; }
    .content__left .menu-opened .menu-list__item {
      padding: 0;
      transition: 1s ease;
      transform: translateY(50px); }
      .content__left .menu-opened .menu-list__item li {
        list-style-type: none; }
        .content__left .menu-opened .menu-list__item li a {
          font-size: 20px;
          text-transform: uppercase;
          margin-bottom: 25px;
          display: inline-block;
          text-decoration: none;
          color: #242424;
          position: relative; }
          .content__left .menu-opened .menu-list__item li a:hover::after {
            width: 100%; }
          .content__left .menu-opened .menu-list__item li a::after {
            content: '';
            position: absolute;
            bottom: -5px;
            left: 0;
            transition: 0.5s ease;
            background-color: #000;
            height: 2px;
            width: 0; }
    .content__left .menu-opened .close-menu {
      position: absolute;
      left: -40px;
      top: 43%;
      transform: translateY(-50%);
      transition: 0.3s ease; }
      .content__left .menu-opened .close-menu:hover {
        transform: translateY(-50%) scale(0.9); }
    .content__left .menu-opened .menu-social {
      margin-bottom: 60px;
      transform: translateY(50px);
      justify-content: flex-start;
      flex-wrap: wrap;
      max-width: 200px; }
      .content__left .menu-opened .menu-social a {
        margin-bottom: 25px; }
  .content__left .menu-button__wrap {
    cursor: pointer;
    position: fixed;
    width: 32px;
    height: 32px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 1s ease;
    margin-top: 14px; }
    .content__left .menu-button__wrap:hover .menu-button__line {
      margin-bottom: 3px; }
      .content__left .menu-button__wrap:hover .menu-button__line span {
        margin-right: 3px; }
  .content__left .menu-button__item .menu-button__line {
    display: flex;
    margin-bottom: 8px;
    transition: 0.3s ease; }
    .content__left .menu-button__item .menu-button__line span:last-child {
      margin-right: 0; }
  .content__left .menu-button__item span {
    width: 5px;
    height: 5px;
    background-color: #242424;
    margin-right: 8px;
    transition: 0.3s ease; }

.content__right {
  padding-top: 50px;
  padding-left: 50px;
  width: 100%; }

.s-main {
  height: 100vh; }
  .s-main .content__right {
    overflow: hidden; }
  .s-main .main-slider {
    display: flex;
    align-items: center; }
  .s-main .main-slider__wrap {
    display: flex;
    width: 100%;
    overflow: hidden; }
  .s-main .main-slider__item {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
    position: relative; }
    .s-main .main-slider__item img {
      height: 100%;
      width: auto;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
  .s-main .owl-item {
    height: 90vh; }
  .s-main .main-slider__arrow {
    cursor: pointer;
    transition: 0.3s ease-in; }
    .s-main .main-slider__arrow:hover {
      transform: scale(0.9); }

.owl-prev:hover,
.owl-next:hover {
  background: none !important; }

.main-owl-navbar {
  background: none !important; }
  .main-owl-navbar:hover {
    background: none !important; }

/*---------- Main Responsive START ----------*/
@media screen and (max-width: 1200px) {
  .content {
    flex-direction: column;
    padding-left: 30px;
    padding-right: 30px; }
  .content__left {
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: auto; }
    .content__left .menu-button__wrap {
      position: static;
      top: auto;
      left: auto;
      transform: none;
      margin-top: 4px; }
    .content__left .logo {
      padding-top: 0; }
  .s-main .content__right {
    overflow: auto; }
  .s-main .main-slider__wrap {
    flex-direction: column; }
  .s-main .main-slider__item {
    width: 100%; }
    .s-main .main-slider__item img {
      width: 100%;
      height: auto;
      position: static;
      transform: none; }
  .s-main .owl-item {
    height: auto; }
  .s-main .main-slider__arrow {
    display: none; } }

/*---------- Main Responsive END ----------*/
/*---------- Main END ----------*/
/*---------- Gallery START ----------*/
.s-gallery .gallery__wrap {
  margin-top: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }

.s-gallery .gallery__item {
  width: 31.2%;
  height: 315px;
  margin-bottom: 50px;
  display: block;
  position: relative;
  overflow: hidden;
  text-decoration: none;
  color: #242424; }
  .s-gallery .gallery__item:hover .descr {
    opacity: 1; }
  .s-gallery .gallery__item:hover .descr-text {
    transform: none; }
  .s-gallery .gallery__item img {
    height: 100%;
    position: absolute;
    right: 0;
    top: 0; }
  .s-gallery .gallery__item .descr {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
    padding-left: 30px;
    padding-bottom: 70px;
    background-color: rgba(255, 255, 255, 0.7);
    transition: 1s ease;
    opacity: 0; }
    .s-gallery .gallery__item .descr h3 {
      font-size: 22px;
      font-weight: 300;
      text-transform: uppercase;
      position: relative;
      margin-bottom: 30px;
      padding-bottom: 8px; }
      .s-gallery .gallery__item .descr h3::after {
        content: '';
        width: 60px;
        height: 2px;
        display: block;
        position: absolute;
        left: 0;
        bottom: -10px;
        background-color: #242424; }
    .s-gallery .gallery__item .descr .gallery-filter-link {
      font-size: 16px;
      margin-bottom: 40px;
      cursor: pointer;
      display: inline-block;
      margin-top: 0;
      text-decoration: none;
      color: #242424; }
      .s-gallery .gallery__item .descr .gallery-filter-link:hover {
        text-decoration: underline; }
  .s-gallery .gallery__item .descr-text {
    transform: translateY(100%);
    transition: 0.7s ease; }

.s-gallery .filter-title {
  font-size: 20px;
  color: #242424;
  text-align: center;
  margin-top: 15px; }

.s-gallery .show-all-cat {
  color: #242424;
  font-size: 20px;
  text-decoration: none;
  display: flex;
  align-items: center;
  margin-bottom: 35px;
  max-width: 120px; }
  .s-gallery .show-all-cat:hover img {
    transform: translateX(-10px); }
  .s-gallery .show-all-cat img {
    transition: 0.5s ease;
    margin-right: 20px; }

.s-gallery .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 45px; }
  .s-gallery .top .filter-title {
    position: relative;
    padding-bottom: 25px; }
    .s-gallery .top .filter-title::after {
      content: '';
      display: block;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      height: 1px;
      width: 50px;
      background-color: #242424; }

.s-gallery .album-arrow__wrap {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #242424; }
  .s-gallery .album-arrow__wrap img {
    transition: 0.5s ease; }

.s-gallery .prev-album:hover img {
  transform: translateX(-10px); }

.s-gallery .prev-album img {
  margin-right: 15px; }

.s-gallery .next-album:hover img {
  transform: translateX(10px); }

.s-gallery .next-album img {
  margin-left: 15px; }

.s-gallery .gallery-inner__text {
  margin-top: 30px;
  max-width: 680px;
  margin-left: auto;
  margin-right: auto;
  line-height: 133.5%; }

.s-gallery .album-images__wrap {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px; }

.s-gallery .album-images__item {
  margin-bottom: 60px;
  position: relative;
  display: block; }
  .s-gallery .album-images__item img {
    width: 100%; }
  .s-gallery .album-images__item .image__zoom {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(36, 36, 36, 0.5);
    transition: 0.5s ease;
    opacity: 0; }
    .s-gallery .album-images__item .image__zoom:hover {
      opacity: 1; }
      .s-gallery .album-images__item .image__zoom:hover svg {
        top: 50%; }
    .s-gallery .album-images__item .image__zoom svg {
      position: absolute;
      left: 50%;
      top: 60%;
      transform: translate(-50%, -50%);
      width: 70px;
      height: 70px;
      transition: 0.5s ease; }
    .s-gallery .album-images__item .image__zoom path {
      fill: #fff; }

/*---------- Gallery Responsive START ----------*/
@media screen and (min-width: 1500px) {
  .s-gallery .gallery__item {
    height: 500px; } }

@media screen and (max-width: 992px) {
  .s-gallery .gallery__item {
    width: 48%; } }

@media screen and (max-width: 768px) {
  .s-gallery .top {
    flex-direction: column; }
  .s-gallery .prev-album {
    order: 1;
    margin-top: 25px; }
  .s-gallery .next-album {
    margin-top: 25px;
    order: 1; } }

@media screen and (max-width: 575px) {
  .s-gallery .gallery__item {
    width: 100%; } }

/*---------- Gallery Responsive END ----------*/
/*---------- Gallery END ----------*/
/*---------- About START ----------*/
.s-about .s-about__wrap {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto; }

.s-about .about-image__wrap {
  margin-top: 60px; }
  .s-about .about-image__wrap img {
    width: 100%; }

.s-about .about-text__wrap {
  margin-top: 50px; }

.s-about .about-text__item {
  margin-top: 25px; }
  .s-about .about-text__item p {
    margin-bottom: 25px; }

/*---------- About END ----------*/
/*---------- Contact START ----------*/
.s-contact .contact__wrap {
  display: flex;
  justify-content: space-between;
  margin-top: 180px; }

.s-contact .contact__email {
  margin-top: 25px; }

.s-contact .social-links {
  margin-top: 25px; }

.s-contact .contact__left {
  width: 30%; }

.s-contact .contact__right {
  width: 70%; }
  .s-contact .contact__right .form__item {
    position: relative; }
  .s-contact .contact__right label,
  .s-contact .contact__right input,
  .s-contact .contact__right textarea {
    display: block;
    width: 100%;
    border: none; }
  .s-contact .contact__right input,
  .s-contact .contact__right textarea {
    padding: 10px;
    border-bottom: 1px solid #C4C4C4;
    text-transform: uppercase;
    color: #C4C4C4;
    font-weight: 300; }
  .s-contact .contact__right input {
    padding-right: 0; }
  .s-contact .contact__right [placeholder] {
    color: rgba(0, 0, 0, 0.8); }
  .s-contact .contact__right .top {
    display: flex;
    justify-content: space-between; }
    .s-contact .contact__right .top .form__item {
      width: 48%; }
  .s-contact .contact__right .form__message {
    margin-top: 25px;
    font-family: raleway-regular, sans-serif; }
  .s-contact .contact__right button {
    margin-top: 35px;
    box-shadow: 0px 1px 2px rgba(36, 36, 36, 0.25), 1px 0px 2px rgba(36, 36, 36, 0.25);
    padding: 15px 35px;
    background-color: #fff;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
    position: relative;
    z-index: 0;
    transition: 0.3s ease-in;
    overflow: hidden;
    display: block; }
    .s-contact .contact__right button:hover {
      color: #fff; }
      .s-contact .contact__right button:hover::after {
        right: 0; }
    .s-contact .contact__right button::after {
      transition: 1s ease;
      content: '';
      display: block;
      position: absolute;
      top: 0;
      right: -100%;
      width: 100%;
      height: 102%;
      background-color: #242424;
      z-index: -1; }

/*---------- Contact Responsive START ----------*/
@media screen and (max-width: 992px) {
  .s-contact .contact__wrap {
    flex-direction: column;
    margin-top: 50px;
    text-align: center; }
  .s-contact .contact__left,
  .s-contact .contact__right {
    width: 100%; }
  .s-contact .min-title::after {
    left: 50%;
    transform: translateX(-50%); }
  .s-contact .social-links {
    justify-content: center; } }

@media screen and (max-width: 480px) {
  .s-contact .contact__right .top {
    flex-direction: column; }
    .s-contact .contact__right .top .form__item {
      width: 100%;
      margin-bottom: 25px; }
  .s-contact .contact__right .form__message {
    margin-top: 0; } }

/*---------- Contact Responsive END ----------*/
/*---------- Contact END ----------*/
